<div class="container">
	<div class="row">
		<img class="col-sm-12 col-lg-offset-4 bookImage" src="<%= book.imgurl%>"/>
		<h1 class="col-sm-12 col-lg-offset-3 "><%= book.title %></h1>

		<p class="col-sm-6 col-lg-offset-3 "><%= book.description %></p>

		<a class="editBtn" href="/<%= book._id %>/edit">edit <img src="/images/edit.svg"/></a>

		<form action="/<%= book._id %>" method="POST">
		  <input type="hidden" name="_method" value="DELETE">
		  <input class="btn btn-danger" type="submit" value="Drop Book">
		</form>
		<button id="userRecommend"type="button" class="btn btn-success">Recommend: <%= book.recommended%></button>
	
	</div>
</div> 