<div class="container">
	<div class="row">
		<img src="<%= book.imgurl%>"/>
		<h1 class="col-sm-12"><%= book.title %></h1>

		<p class="col-sm-6"><%= book.description %></p>

		<a href="/<%= book._id %>/edit">edit</a>

		<form action="/<%= book._id %>" method="POST">
		  <input type="hidden" name="_method" value="DELETE">
		  <input type="submit" value="Drop Book">
		</form>
		<form action="/<%= user.books %>" method="PUT">
		  <input type="hidden" name="_method" value="PUT">
		  <input type="submit" value="Add to fav">
		</form>

	</div>
</div> 